/_*
/__pycache__
/playground
/goback-frontend/logs
/goback-frontend/*.log
/goback-frontend/npm-debug.log*
/goback-frontend/yarn-debug.log*
/goback-frontend/yarn-error.log*
/goback-frontend/pnpm-debug.log*
/goback-frontend/lerna-debug.log*
/goback-frontend/node_modules
/goback-frontend/dist
/goback-frontend/dist-ssr
/goback-frontend/*.local
/goback-frontend/.vscode/*
/goback-frontend/!.vscode/extensions.json
/goback-frontend/.idea
/goback-frontend/.DS_Store
/goback-frontend/*.suo
/goback-frontend/*.ntvs*
/goback-frontend/*.njsproj
/goback-frontend/*.sln
/goback-frontend/*.sw?
/goback.toml
