services:
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: true
      MYSQL_DATABASE: goback
      MYSQL_USER: goback_db
      MYSQL_PASSWORD: cutekittens123
    
    ports:
      - 3306:3306
    expose:
      - 3306

    
