<!DOCTYPE html>
<html>
    <head>

<style>
    body {
        text-align: center;
        font-size: 2rem;
        font-family: sans-serif;
    }

</style>
    </head>
    <body>
        <h1>
            {{msg}}
        </h1>
        

        <form method="POST" action="/login">
            {{form.hidden_tag()}}

            <p>
            {{form.email.label}}<br>
            {{form.email()}}
            </p>
            <p>
            {{form.password.label}}<br>
            {{form.password()}}
            </p>
            <p>
            {{form.submit}}
            </p>

        </form>

    </body>

</html>
